*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --font-color:white;
}

.app-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, main, footer{
    border:1px solid black;
}

header,footer{
    flex-basis: 15%;
}
main{
    flex-grow: 1;
    background-color: black;
    overflow: auto;
    padding: 1rem 0;
}

header{
    background-color: black;
}

footer{
    background-color: #4A4A4A;
    
}

.box-bottoni-header{
    text-align: right;
    margin:.3rem .3rem 0 0;

}


.btn-header{
    background-color: gray;
    padding: 5px;
    color: var(--font-color);
    border-radius: 6px;

}

.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    column-gap: 8px;
    row-gap: 1rem;
    flex-wrap: wrap;
}

.card{
    position: relative;
    width: calc((100% - 56px ) / 7);
    flex-shrink: 0;
    

    
}

.card img{
    width: 100%;
    height: 100%;
}
.box-txt-card{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgb(128, 128, 128, .6);
    
}

.box-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: white;
}

.lc-box-footer{
    display: flex;
    align-items: center;
    height: 100%;
}

.icon-footer{
    font-size: 2rem;
}

.box-arrowup{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 .5rem ;
}

.box-icon{
    text-align: center;
}

.lc-box-footer.center .box-icon{
    padding: 0 1rem;

}
.right-box-footer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: red;
    padding: 1rem;
}